<h1>Add a new supplier</h1>

<form action = "/suppliers/addSuppliers" method = "POST">
	Enter a supplier name:
		<br><input type="text" name="supplier_name" value="{{supplier_name}}"></br>
		
		<br><input type="submit"></br>
		
	
</form>