<h1>Category Popularity List</h1>

<table class = "table" id = "categoriesPopularity">
<tr>
	<th>Category name</th>
	<th>Quantity</th>
</tr>
{{#categoriesPopularity}}
	<tr>
		<th>{{category_name}}</th>
		<th>{{qty}}</th>
	</tr>
{{/categoriesPopularity}}
</table>