<h1>Categories List</h1>
<table class>
	<thead>
		<th>Category Name</th>
        <th>Amount</th>
	</thead>
{{#each category}}
	<tr>
	 <td> {{@key}} </td> 
	 <td> {{this}} </td>
	</tr>
{{/each}}
</table>
