<h1>Category Popularity List</h1>

<div class = "container fluid">
	<div class = "row">
		<div class = "col-xs-12">
			<div class = "table-responsive">

				<table class = "table" id = "categoriesPopularity">
				<thead>
					<tr>
						<th>Category name</th>
						<th>Quantity</th>
					</tr>
				</thead>
				{{#categoriesPopularity}}
					<tr>
						<td>{{category_name}}</td>
						<td>{{qty}}</td>
					</tr>
				{{/categoriesPopularity}}
				</table>
			</div>
		</div>
	</div>
</div>
