{{#if admin}}
<div class = "container">
  <h1>Earnings per category</h1>
  <div class = "row">
    <div class = "col-xs-12">
      <div class = "table-responsive">
        <table class = "table table-striped" id = "category_nameEarnings">
          <thead>
            <tr>
              <th>Category Name</th>
              <th>Earnings</th>
            </tr>
          </thead>
          {{#categoryEarnings}}
            <tr>
              <td>{{category_name}}</td>
              <td>R{{earnings}}</td>
            </tr>
        {{/categoryEarnings}}
        </table>
        {{else}}
				<p> Access denied</p>
				{{/if}}
      </div>
    </div>
  </div>
</div>
