<h1>Nelisa's App</h1>
<a href = '/sold'> Products List </a></br>
<a href = '/popular'> Most Popular Product </a></br>
<a href = '/category'> Categories </a><br>
<a href = '/mostPopularCategory'> Most Popular Category </a></br>
<a href = '/leastPopular'> Least Popular Product</a></br>
<a href = '/leastPopularCategory'> Least Popular Category</a></br>