<h1>Spaza shop reports</h1> 
<ul id = 'navigation'>
	<li><a href = '/'> Home </a></li>
	<li><a href = '/sold'> Products List </a></li>
	<li><a href = '/popular'> Most Popular Product </a></li>
	<li><a href = '/category'> Categories </a></li>
	<li><a href = '/mostPopularCategory'> Most Popular Category </a></li>
	<li><a href = '/leastPopular'> Least Popular Product</a></li>
	<li><a href = '/leastPopularCategory'> Least Popular Category</a></li>
</ul>
