<h1>Product List</h1>
<table class>
	<thead>
        <th>Product Name</th>
        <th>Amount</th>
	</thead>
	{{#each products}}
		<tr>
		
			<td>{{@key}}</td> 
			<td>{{this}}</td>
		
		</tr>
	{{/each}}
</table>