<h1>Least Popular Product</h1>
<table class>
	<thead>
		<th>Product Name</th>
		<th>Amount</th>
	</thead>
	{{#product}}
		<tr>
			<td>{{productName}}</td>
			<td>{{amount}}</td>
		</tr>
	{{/product}}
                  
</table>