<h1>Least Popular Product</h1>
<table class="table">
	<tr>
		<th>Product Name</th>
		<th>Amount</th>
	</tr>
	{{#product}}
		<tr>
			<td>{{productName}}</td>
			<td>{{amount}}</td>
		</tr>
	{{/product}}
                  
</table>