<h1>Least Popular Category</h1>
	<!-- <tr>
		<th>Category Name</th>
        <th>Amount</th>
	</tr>
{{#each category}}
	<tr>
	<td> {{@key}} </td> 
	 <td> {{this}} </td>
	</tr>
{{/each}}
</table> -->
<table class>
	<thead>
		<th>Category Name</th>
		<th>Amount</th>
	</thead>
	{{#category}}
		<tr>
			<td>{{categoryName}}</td>
			<td>{{amount}}</td>
		</tr>
	{{/category}}
                  
</table>
