<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nelisa's Spaza Shop </title>

  <!-- Bootstrap Core CSS -->

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-inverse ">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" href="/"><img id="logo" src = "/img/logo1.png"/></a>

      </div>
    </nav>

    <div class="login-page">
      <div class="form">
        <form class="register-form" action="/signup" method="POST">
          <input type="text" class="form-control" autocomplete="off" name="user_name" placeholder="name" required/>
          <input type="password" id="userPassword"  name="user_password" placeholder="password"/>
          <input type="password" id="passwordConfirm" name="password_confirm" placeholder="re-type password"/>
          <button onClick ="validatePassword()">create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <form class="login-form" action="/" method="post">
          <input type="text" name="user_name" autocomplete="off" placeholder="username"/>
          <input type="password" name="user_password" placeholder="password"/>
          <!-- <input class="btn btn-primary" type="submit" value="login"/> -->
          <button type="submit">login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
          {{messages.message}}
        </form>
      </div>
    </div>
  </body>

  <script>
  var passWord = document.getElementById('userPassword');
  var passwordConfirm = document.getElementById('passwordConfirm');
  function validatePassword(){
    if(userPassword.value != passwordConfirm.value){

      passwordConfirm.setCustomValidity('passwords do not match');
    }
    else {
      passwordConfirm.setCustomValidity('');
    }
  }
  passWord.onchange = validatePassword;
  passwordConfirm.onkeyup = validatePassword;
  </script>

  <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src = "js/main.js">

  </script>



  </html>
