<h1>Most Popular Category</h1>
<table class = "table">
	<tr>
		<th>Category Name</th>
        <th>Amount</th>
	</tr>
{{#each category}}
	<tr>
	<td> {{@key}} </td> 
	 <td> {{this}} </td>
	</tr>
{{/each}}
</table>