<h1>Most Popular Product</h1>
<table class="table">
	<tr>
		<th>Product Name</th>
		<th>Amount</th>
	</tr>
	{{#product}}
		<tr>
			<td>{{prodName}}</td>
			<td>{{amount}}</td>
		</tr>
	{{/product}}
                  
</table>

<!-- {{#each product}}
	<h2>{{@key}} - {{this}}</h2>

{{/each}}
 -->