<h1>Most Popular Product</h1>
<div class = "container">
<table class = "col-xs-12">
	<thead>
		<th>Product Name</th>
		<th>Amount</th>
	</thead>
	{{#product}}
		<tr>
			<td>{{prodName}}</td>
			<td>{{amount}}</td>
		</tr>
	{{/product}}
                  
</table>
</div>
<!-- {{#each product}}
	<h2>{{@key}} - {{this}}</h2>

{{/each}}
 -->