<h1>Product Popularity List</h1>

<table class = "table" id = "productPopularity">
<tr>
	<th>Product name</th>
	<th>Quantity</th>
</tr>
{{#productPopularity}}
	<tr>
		<th>{{product_name}}</th>
		<th>{{qty}}</th>
	</tr>
{{/productPopularity}}
</table>