<div class = "container">
  <h1>Profits per product</h1>
  <div class = "row">
    <div class = "col-xs-12">
      <div class = "table-responsive">
        <table class = "table table-striped" id = "productProfits">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Supplier Name</th>
              <th>Profits</th>
            </tr>
          </thead>
          {{#productProfits}}
            <tr>
              <td>{{product_name}}</td>
              <td>{{supplier_name}}</td>
              <td>R{{Profit}}</td>
            </tr>
         {{/productProfits}}
        </table>
      </div>
    </div>
  </div>
</div>
