{{#if admin}}

<div class = "container">
<h1>Earnings per product</h1>
  <div class = "row">
    <div class = "col-xs-12">
      <div class = "table-responsive">
        <table class = "table table-striped" id = "productEarnings">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Earnings</th>
            </tr>
          </thead>
          {{#productEarnings}}
            <tr>
              <td>{{product_name}}</td>
              <td>R{{earnings}}</td>
            </tr>
        {{/productEarnings}}
        </table>
        {{else}}
				<p> Access denied</p>
				{{/if}}
      </div>
    </div>
  </div>
</div>
