<h1>Product Popularity List</h1>

<div class = "container fluid">
	<div class = "row">
		<div class = "col-xs-12">
			<div class = "table-responsive">
				<table class = "table" id = "productPopularity">
				<thead>
					<tr>
						<th>Product name</th>
						<th>Quantity</th>
					</tr>
			  </thead>
				{{#productPopularity}}
					<tr>
						<td>{{product_name}}</td>
						<td>{{qty}}</td>
					</tr>
				{{/productPopularity}}
				</table>
			</div>
	 </div>
	</div>
</div>
