<h1>Earnings per product</h1>

<div class = "container fluid">
  <div class = "row">
    <div class = "col-xs-12">
      <div class = "table-responsive">
        <table class = "table" id = "productEarnings">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Earnings</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
