<h1>Category List</h1>

<form class="navbar-form navbar-left" role="search" action="/categories/search" method="post">
	<div class="form-group">
		<input type="text" class="form-control" name="searchVal" placeholder="Search Categories">
	</div>
	<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
</form>

{{#admin}}
<a href="/categories/addCategories"  class= "btn btn-primary btn-lg addBtn">
<span class= "glyphicon glyphicon-plus"></span></a>
{{/admin}}

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-xs-12">
      <div class = "table-responsive">
				<table class = "table" id = "categoryList">
					<thead>
						<tr>
							<th>Category id</th>
							<th>Category name</th>
						</tr>
					</thead>
					{{#categories}}
						<tr>
							<td>{{category_id}}</td>
							<td>{{category_name}}</td>

							{{#if ../admin}}
							<td><a href="/categories/editCategories/{{category_id}}" class="btn btn-primary">
							<span class="glyphicon glyphicon-edit"></span></a></td>

							<td><a href="/categories/delete/{{category_id}}" class= "btn btn-primary">
							<span class="glyphicon glyphicon-trash"></span></a></td>
							{{/if }}
						</tr>
					{{/categories}}
				</table>

        <a href="/products" class="btn btn-primary">show all</a>

			</div>
		</div>
	</div>
</div>
